
@{
    ViewBag.Title = "Page Error";
    Layout = "~/Areas/Admin/Views/Shared/_Layouts.cshtml";
}
@section header{
     Lổi
    }
  <div class="alert alert-danger" >
      Bạn ko có quyền truy cập trang này
  </div>
